<a href="https://colab.research.google.com/github/YaOliveira/uri_exercises/blob/main/URI_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(I) uma string com um dia da semana ('domingo', 'segunda', 'terca', 'quarta', 'quinta', 'sexta' ou 'sabado'),sem acentuação, que indica o dia que um cliente realizou a compra no site da empresa;

(II) um número natural que pode variar de 0 a 6, que indica a quantidade de dias, a partir da realização da compra, que o cliente deverá aguardar para receber a mercadoria.

 um prazo de zero dias significa que a entrega será feita no mesmo dia,

Por exemplo, se a compra foi realizada no 'sabado' e o prazo é de três dias, o cliente receberá na 'terca'. Cuidado com a acentuação, repare que ela não está presente nas entradas e nem nas saídas, nem mesmo o 'ç' de terça.

In [ ]:
# Entradas: 2 linhas 
# dia_da_semana = input()
# dia_q_chegara = input()

dias_da_semana = ['domingo', 'segunda', 'terca', 'quarta', 'quinta', 'sexta', 'sabado']
# semana_value = dias_da_semana[dias_da_semana.index(dia_da_semana)]



a = input()
b = int(input())
semana = ['domingo', 'segunda', 'terca', 'quarta', 'quinta', 'sexta', 'sabado']
dia_da_semana = semana[semana.index(a)]

if(b == 0):
  print("chega hoje!")
elif ((b + semana.index(a)) >=6):
      b = (b + semana.index(a)) -7
      print(f"sera entregue {semana[b]}")
else:
  print(f"sera entregue {semana[semana.index(dia_da_semana) + b]}")

domingo
6
sera entregue sabado

In [ ]:
dia_da_semana = input()
dia_q_chegara = int(input())
semana = ['domingo', 'segunda', 'terca', 'quarta', 'quinta', 'sexta', 'sabado']
dia_da_semana = semana[semana.index(dia_da_semana)]

if(dia_q_chegara == 0):
  result = "chega hoje!" 
elif ((dia_q_chegara + semana.index(dia_da_semana)) >=6):
      dia_q_chegara = (dia_q_chegara + semana.index(dia_da_semana)) -7
      result = (f"sera entregue {semana[dia_q_chegara]}")
else:
  result = (f"sera entregue {semana[semana.index(dia_da_semana) + dia_q_chegara]}")

print(result)

terca
5

'sera entregue domingo'



*    Entrada 2 numeros reais com notas dos trabalhos e prova regular
*    Saida aprovado', 'reprovado' ou 'talvez com a sub',

In [ ]:
preco_da_mercadoria = float(input())
quantidade = int(input())
valor_descontado = valor_original * 0.1
valor_com_desconto = preco_da_mercadoria - valor_descontado
valor_final = valor_com_desconto * quantidade
print(preco_da_mercadoria)
print(valor_final)

'aprovado'

In [ ]:

tempos_em_minutos1 = int(input())
tempos_em_minutos2 = int(input())
tempos_em_minutos3 = int(input())

soma_dos_tempos = (tempos_em_minutos1 + tempos_em_minutos2 + tempos_em_minutos3)
# resultado = f'{soma_dos_tempos} minutos'.format(soma_dos_tempos = soma_dos_tempos)
resultado = (soma_dos_tempos,"minutos")
print (resultado)

10
10
10

(30, 'minutos')

In [ ]:
trabalho = float(input())
print(trabalho)
prova_regular = float(input())
print(prova_regular)
media_final = (trabalho + prova_regular) / 2
media_sub = 10
if trabalho >=2:
  if media_final >=6:
      print('aprovado')
  else:
      media_sub = 10
      media_final = (media_sub + media) / 2
      if media_final > 6:
          print('talvez com a sub')
      else:
          print('reprovado')
else:
  print('reprovado')

2
2.0
0
0.0
talvez com a sub

In [ ]:
def conversao():
  qtd_polegadas = float(input())
  eq_em_centimetros = qtd_polegadas * 2.54
  output = f'{eq_em_centimetros:.3f}'
  return output

conversao()

2.0

'5.080'

In [ ]:
preco_mercadoria = float(input())
quantidade = int(input())

preco_bruto_total = preco_mercadoria * quantidade

preco_desconto_fixo = preco_bruto_total * 0.1


porcentagem_extra_desconto = quantidade /100
preco_com_desconto_variavel = preco_bruto_total * porcentagem_extra_desconto

valor_dos_descontos = preco_com_desconto_variavel + preco_desconto_fixo
valor_total_com_desconto = preco_bruto_total - valor_dos_descontos
print(f'{preco_bruto_total:.2f}')
print(f'{valor_total_com_desconto:.2f}')

100.00
10
1000.00
800.00

In [ ]:
nota1 = float(input())
nota2 = float(input())
media = (nota1 + nota2) / 2

if media >= 6.00:
    print('aprovado')
if media < 6.00 and nota1 <= 0:
    print('reprovado')
if media < 6 and nota1 > 0.00:
    print('talvez com sub')

4.65
4.54
talvez com sub

In [ ]:
def professor():
    nota_do_trabalho = float(input())
    nota_prova = float(input())
    
    media = (nota_do_trabalho *5 + nota_prova *5)/10
    
    if media >=6:
        print('aprovado')
    elif media < 6 and nota_do_trabalho >=2:
        print('talvez com a sub')
    else:
        print('reprovado')

professor()

0.00
10.00
reprovado

In [ ]:

qtdd_polegadas = float(input())
tamanho_polegada = 2.54
conversao = qtdd_polegadas * tamanho_polegada
conversao_output = f'{conversao:.3f}'
print(conversao_output)

10
25.400

In [ ]:
numero = int(input())
if numero %2 == 0:
    numero_impar = numero -1
    numero_par = numero + 2
    print(f'{numero_impar} {numero_par}')
else:
    numero_impar = numero -2
    numero_par = numero + 1
    print(f'{numero_impar} {numero_par}')

10

'9 12'

# Desafios do URI para treinamento

# Hello World!

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
# se usar o return, colocar print
def ola():
 primeiro_comando = 'Hello World!'
 return print(primeiro_comando)
ola()

'Hello World!'

# Extremamente Básico

In [ ]:
#Leia dos valores inteiros
A = int(input())
B = int(input())
inputs = [A,B]
result = sum(inputs)
print('X =', result)

10
20
X = 30

In [ ]:
A = int(input())
B = int(input())
soma = A+B
print('X =', soma)

10
20
X 30

# Diferença

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())
A_B = (A * B)
C_D = (C * D)
diferenca = A_B - C_D
text = 'DIFERENCA ='
print(f'{text} {diferenca}')

5
6
8
8
DIFERENCA = -34

# Consumo




*   Calcule o consumo médio de um automóvel sendo fornecidos a distância total percorrida (em Km) e o total de combustível gasto (em litros).

In [ ]:
# entrada 2 valores, X e Y
# todo numero real é float

X = int(input()) # distancia percorrida
Y = float(input()) # total combustivel gasto

consumo_medio = X/Y
text = 'km/l'

print(f'{consumo_medio:.3f} {text}')

500
35.0
14.286 km/l

In [ ]:
def consumo_medio():
  X = int(input()) # distancia percorrida
  Y = float(input()) # total combustivel gasto

  consumo_medio = X/Y
  text = 'km/l'

  return print(f'{consumo_medio:.3f} {text}')
consumo_medio()

# Salário com Bônus

In [ ]:
nome_vendedor = input()
salario_fixo = float(input())
total_vendas = float(input())

bonus = total_vendas * 0.15
salario_total = salario_fixo + bonus
text = 'TOTAL = R$'
print(f'{text} {salario_total:.2f}')

joao
500
1230.30
TOTAL = R$ 684.54


Escreva um programa que leia três valores com ponto flutuante de dupla precisão: A, B e C. Em seguida, calcule e mostre:


*   área do triângulo retângulo que tem A por base e C por altura.
*   a área do círculo de raio C. (pi = 3.14159)
*   a área do trapézio que tem A e B por bases e C por altura.
*   a área do quadrado que tem lado B.
*   a área do retângulo que tem lados A e B.

In [ ]:
A = float(input())
B = float(input())
C = float(input())

pi = 3.14159
area_triangulo = A*C/2
area_circulo = pi * (C*C)
area_trapezio = (A + B) * C/2
area_quadrado = B ** 2
area_retangulo = A * B
text_triangulo = 'TRIANGULO:'
text_circulo = 'CIRCULO:'
text_trapezio = 'TRAPEZIO:'
text_quadrado = 'QUADRADO:'
text_retangulo = 'RETANGULO:'

print('{text_triangulo} {area_triangulo:.3f}'.format(text_triangulo=text_triangulo,area_triangulo=area_triangulo))
print('{text_circulo} {area_circulo:.3f}'.format(text_circulo=text_circulo,area_circulo=area_circulo))
print('{text_trapezio} {area_trapezio:.3f}'.format(text_trapezio=text_trapezio,area_trapezio=area_trapezio))
print('{text_quadrado} {area_quadrado:.3f}'.format(text_quadrado=text_quadrado, area_quadrado=area_quadrado))
print('{text_retangulo} {area_retangulo:.3f}'.format(text_retangulo=text_retangulo,area_retangulo=area_retangulo))

3.0
.0
5.2
TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 7.800
QUADRADO: 0.000
RETANGULO: 0.000

In [ ]:
A,B,C = map(float, input().split())

pi = 3.14159
area_triangulo = A*C/2
area_circulo = pi * (C*C)
area_trapezio = (A + B) * C/2
area_quadrado = B ** 2
area_retangulo = A * B
text_triangulo = 'TRIANGULO:'
text_circulo = 'CIRCULO:'
text_trapezio = 'TRAPEZIO:'
text_quadrado = 'QUADRADO:'
text_retangulo = 'RETANGULO:'

print('{text_triangulo} {area_triangulo:.3f}'.format(text_triangulo=text_triangulo,area_triangulo=area_triangulo))
print('{text_circulo} {area_circulo:.3f}'.format(text_circulo=text_circulo,area_circulo=area_circulo))
print('{text_trapezio} {area_trapezio:.3f}'.format(text_trapezio=text_trapezio,area_trapezio=area_trapezio))
print('{text_quadrado} {area_quadrado:.3f}'.format(text_quadrado=text_quadrado, area_quadrado=area_quadrado))
print('{text_retangulo} {area_retangulo:.3f}'.format(text_retangulo=text_retangulo,area_retangulo=area_retangulo))

In [ ]:
import math

x1,y1 = map(float, input().split())
x2,y2 = map(float, input().split())

primeiro_calculo = (x2-x1)**2
segundo_calculo = (y2-y1)**2
terceiro_calculo = primeiro_calculo + segundo_calculo
raiz = math.sqrt(terceiro_calculo)
print(f'{raiz:.4f}')

1.0 5.0
7.0 9.0
7.2111

In [ ]:
peca_1, numero_de_pecas1, valor_unitario_cada_peca1 = map(float, input().split())
peca_2, numero_de_pecas2, valor_unitario_cada_peca2 = map(float, input().split())

pecas = [peca_1, numero_de_pecas1, peca_2, numero_de_pecas2]
pecas_int = [int(p) for p in pecas]
peca_1, numero_de_pecas1, peca_2, numero_de_pecas2 = pecas_int

valor_total_peca1 = numero_de_pecas1 * valor_unitario_cada_peca1
valor_total_peca2 = numero_de_pecas2 * valor_unitario_cada_peca2
valor_total_compra = valor_total_peca1 + valor_total_peca2

text = 'VALOR A PAGAR: R$'

print(f'{text} {valor_total_compra:.2f}')

12 1 5.30
16 2 5.10
5.3
10.2
VALOR A PAGAR: R$ 10.60

In [ ]:
pontuacoes = input("Digite as pontuações: ").split()
print(type(pontuacoes))

Digite as pontuações: 1 2 3 4
<class 'list'>

# Múltiplos

In [ ]:
A, B = map(int, input().split())

if A % B == 0 or B % A == 0 :
    print('Sao Multiplos')
else:
    print('Nao sao Multiplos')

6 25
Nao sao Multiplos

Mês 1052

In [ ]:
month_value = int(input())
numbers_if_the_months = list(range(1,13))
if month_value in numbers_if_the_months:
  months = {
      1:'January',
      2:'February',
      3:'March',
      4:'April',
      5:'May',
      6:'June',
      7:'July',
      8:'August',
      9:'September',
      10:'October',
      11:'November',
      12:'December'
      }
  print(months[month_value])

2
February

# 1065 Pares entre Cinco Números

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())
num5 = int(input())

lista_de_numeros = []
lista_de_numeros.append(num1)
lista_de_numeros.append(num2)
lista_de_numeros.append(num3)
lista_de_numeros.append(num4)
lista_de_numeros.append(num5)
lista_de_pares = [ el for el in lista_de_numeros if el % 2 == 0 ]
qtd_pares = len(lista_de_pares)
print(f'{qtd_pares} valores pares'.format(qtd_pares=qtd_pares))

10
11
12
13
14
3 valores pares

# 1049 Animal

In [ ]:
palavra1 = input()
palavra2 = input()
palavra3 = input()


tipo_animal = {
    'vertebrado':{'ave':{'carnivoro':'aguia','onivoro':'pomba'},'mamifero':{'onivoro':'homem','herbivoro':'vaca'}},
    'invertebrado':{'inseto':{'hematofago':'pulga','herbivoro':'lagarta'},'anelideo':{'hematofago':'sanguessuga','onivoro':'minhoca'}}
    }

print(tipo_animal[palavra1][palavra2][palavra3])

vertebrado
mamifero
onivoro
homem

In [ ]:
value = float(input())
if 0 <= value <= 25:
    print('Intervalo [0,25]')
if 25 < value <= 50:
    print('Intervalo (25,50]')
if 50 < value <= 75:
    print('Intervalo (50,75]')
if 75 < value <= 100:
    print('Intervalo (75,100]')
if value > 100 or value < 0:
    print('Fora de intervalo')

100.00
Fora de intervalo

# URI Online Judge | 1040
# Média 3

In [ ]:
n1, n2, n3, n4 = map(float, input().split())
media = (n1 * 2 + n2 * 3 + n3 * 4 + n4 * 1) / 10
print('Media: {:.1f}'.format(media))
if media >= 7.0:
    print('Aluno aprovado.')
if media < 5.0:
    print('Aluno reprovado.')
if 5.0 <= media <= 6.9:
    print('Aluno em exame.')
    exame = float(input())
    print('Nota do exame: {}'.format(exame))
    nova_media = (exame + media) / 2
    if nova_media >=5:
        print('Aluno aprovado.')
        print('Media final: {:.1f}'.format(nova_media))
    else:
        print('Aluno reprovado.')
        print('Media final: {:.1f}'.format(nova_media))

2.0 4.0 7.5 8.0
Media: 5.4
Aluno em exame.
6.4
Nota do exame: 6.4
Aluno aprovado.
Media final: 5.9

# 1067 Números Ímpares

In [ ]:
x = int(input())

impares = list(range(1, x+1, 2))
if x ==1:
  print(x)
else:
  for i in reversed(impares[::-1]):
    print(i)

3
1
3

In [ ]:
x = int(input())
i = 1
while i <= x:
    if i % 2 != 0:
        print(i)
    i = i + 1

3
1
3

# 1142 Tabuada

In [ ]:
n = int(input())  
aux = 1  
if n >= 0 and n <= 10:
  while(aux <= 10):  
    print('{0} X {1} = {2}'.format(n, aux, (aux * n)))  
    aux = aux + 1

5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
n = int(input())
aux = 1
if 0 <= n <= 10:
    while aux <= 10:
        print('{0} x {1} = {2}'.format(n, aux, (aux * n)))
        # print('10 x 10 = 100')
        aux = aux + 1

10
10 X 1 = 10
10 x 10 = 100
10 X 2 = 20
10 x 10 = 100
10 X 3 = 30
10 x 10 = 100
10 X 4 = 40
10 x 10 = 100
10 X 5 = 50
10 x 10 = 100
10 X 6 = 60
10 x 10 = 100
10 X 7 = 70
10 x 10 = 100
10 X 8 = 80
10 x 10 = 100
10 X 9 = 90
10 x 10 = 100
10 X 10 = 100
10 x 10 = 100

In [ ]:
n = int(input())
aux = 1
if 0 <= n <= 10:
    while aux <= 10:
        mult = aux * n
        print(n,'x',aux,'=',mult)
        # print('2 x 1 = 2')
        aux = aux + 1

2
2 X 1 = 2
2 x 1 = 2
2 X 2 = 4
2 x 1 = 2
2 X 3 = 6
2 x 1 = 2
2 X 4 = 8
2 x 1 = 2
2 X 5 = 10
2 x 1 = 2
2 X 6 = 12
2 x 1 = 2
2 X 7 = 14
2 x 1 = 2
2 X 8 = 16
2 x 1 = 2
2 X 9 = 18
2 x 1 = 2
2 X 10 = 20
2 x 1 = 2

URI Online Judge | 1168
Intervalo de primos!

In [ ]:
# WIP

URI Online Judge | 1164
Triângulo alfabético

In [ ]:
# Receba como entrada um número inteiro N (1 <= N <= 26)
# triângulo com exatas N linhas,


import string

def triangulo():
  number = int(input())

  alfabeto = list(string.ascii_uppercase)
  if number <= 0 or number > 26:
    return
  else:
    intervalo = list(range(0, number))
    for i in intervalo:
      idx = i
      letra_atual = alfabeto[idx]
      mult = idx + 1
      impressao = letra_atual*mult
      print(impressao)

triangulo()

25
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK
LLLLLLLLLLLL
MMMMMMMMMMMMM
NNNNNNNNNNNNNN
OOOOOOOOOOOOOOO
PPPPPPPPPPPPPPPP
QQQQQQQQQQQQQQQQQ
RRRRRRRRRRRRRRRRRR
SSSSSSSSSSSSSSSSSSS
TTTTTTTTTTTTTTTTTTTT
UUUUUUUUUUUUUUUUUUUUU
VVVVVVVVVVVVVVVVVVVVVV
WWWWWWWWWWWWWWWWWWWWWWW
XXXXXXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYYYYYYY

# URI Online Judge | 1165
# Doação

In [ ]:
def ler_valor():
  invalido = False
  numeros_reais = []
  while not invalido:
    entrada = input().replace(',','.')
    break_value = '-1.0'
    if entrada == break_value or entrada.strip() == '':
      total_doado = sum(numeros_reais)
      total_reais = total_doado * 2.5
      print(f'VC$ {total_doado:.2f}')
      print(f'R$ {total_reais:.2f}')
      break
    else:
      num_real = float(entrada)
      numeros_reais.append(num_real)


ler_valor()

1
-1.0
VC$ 1.00
R$ 2.50

In [ ]:
x = [0,2,3]
y = sum(x)
print(f'VC$ {y:.2f}')

VC$ 5.00

URI Online Judge | 1167
Anos bissextos

In [ ]:
## test

ano = int(input('que ano quer analisar'))
regra1 = ano % 4 == 0
regra2 = ano % 100 != 0 
regra3 = ano % 400 == 0
if regra1 and regra2 or regra3:
  print('O ano {} é bissexto'.format(ano))
else:
  print('O ano {} não é bissexto'.format(ano))

que ano quer analisar108
O ano 108 é bissexto

In [ ]:
def calculo_bissexto(ano):
  # ano = int(input('que ano quer analisar'))
  regra1 = ano % 4 == 0
  regra2 = ano % 100 != 0 
  regra3 = ano % 400 == 0
  if regra1 and regra2 or regra3:
    print('O ano {} é bissexto'.format(ano))
  else:
    print('O ano {} não é bissexto'.format(ano))
calculo_bissexto(1700)

O ano 1700 não é bissexto

In [ ]:
## real

def calculo_bissexto(ano):
  regra1 = ano % 4 == 0
  regra2 = ano % 100 != 0 
  regra3 = ano % 400 == 0
  if regra1 and regra2 or regra3:
    return ano
  else:
    return

def verificar_dados():
  ano_inicial = int(input())
  ano_final = int(input())
  ano_final = ano_final + 1
  bi = []
  if ano_inicial >= 0 and ano_final <9999:
    intervalo = list(range(ano_inicial, ano_final))
    for ano in intervalo:
      anos_bissextos = calculo_bissexto(ano)
      if anos_bissextos != None:
        bi.append(anos_bissextos)
        print(str(anos_bissextos))
    count_bi = len(bi)
    print('bissextos: {c}'.format(c=count_bi))

verificar_dados()

1700
1710
1704
1708
bissextos: 2

In [ ]:
## real

def calculo_bissexto(ano):
  regra1 = ano % 4 == 0
  regra2 = ano % 100 != 0 
  regra3 = ano % 400 == 0
  if regra1 and regra2 or regra3:
    return ano
  else:
    return

def verificar_dados_de_entrada():
  ano_inicial = int(input())
  ano_final = int(input())
  ano_final = ano_final + 1
  bi = []
  if ano_inicial >= 0 and ano_final <9999:
    intervalo = list(range(ano_inicial, ano_final))
    for ano in intervalo:
      anos_bissextos = calculo_bissexto(ano)
      if anos_bissextos != None:
        bi.append(anos_bissextos)
        print(anos_bissextos)
    count_bi = len(bi)
    print('bissextos:', count_bi)

verificar_dados_de_entrada()

1988
2024
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
bissextos: 10
bissextos: 10

In [ ]:
## real

def calculo_bissexto(ano):
  regra1 = ano % 4 == 0
  regra2 = ano % 100 != 0 
  regra3 = ano % 400 == 0
  if regra1 and regra2 or regra3:
    return ano


def verificar_dados_de_entrada():
  ano_inicial = int(input())
  ano_final = int(input())
  ano_final = ano_final + 1
  bi = []
  if ano_inicial >= 0 and ano_final <9999:
    intervalo = list(range(ano_inicial, ano_final))
    for ano in intervalo:
      anos_bissextos = calculo_bissexto(ano)
      if anos_bissextos != None:
        bi.append(anos_bissextos)
        print(anos_bissextos)
    count_bi = len(bi)
    print(f'bissextos:{count_bi}')

verificar_dados_de_entrada()

10
20
12
16
20
<class 'int'>
bissextos:3

In [ ]:
inicio = int(input())
fim = int(input())
bissexto = 0

for i in range(inicio, fim + 1): 
  if i % 4 == 0 and i % 100 != 0:
    print(i)
    bissexto += 1
  elif i % 400 == 0:
    print(i)  
    bissexto += 1

print(f'bissextos: {bissexto}')

In [ ]:
def ano_inicial():
  inicial = int(input())
  return inicial


def ano_final():
  final = int(input())
  return final


def calcular_ano_bissexto(ano_inicial, ano_final):
  bi = 0
  for ano in range(ano_inicial, ano_final + 1):
    regra1 = ano % 4 == 0
    regra2 = ano % 100 != 0 
    regra3 = ano % 400 == 0
    if regra1 and regra2 or regra3:
      print(ano)
      bi +=1
  print(f'bissextos: {bi}')

ano_inicial = ano_inicial()
ano_final = ano_final()
calcular_ano_bissexto(ano_inicial, ano_final)

10
20
12
16
20
bissextos: 3

# URI Online Judge | 1166
# Pague o aluguel!

In [ ]:
# Dois números inteiros positivos, o primeiro representa o valor total da dívida e o segundo o valor que Ramón poderá pagar mensalmente.
def ler_valor_total():
  valor_total_divida = int(input())
  return valor_total_divida


def ler_valor_pagavel():
  valor_q_sera_pago = int(input())
  return valor_q_sera_pago

def sumario(total, pagamento):
  print(f'pagamento: {}')
  antes = 300
  depois = 250

In [ ]:
valor_parcela = int(input())
valor_parcela = int(input())
count = 0

depois_do_pagamento = valor_total_divida - valor_parcela

print('antes = {total_divida}'.format(total_divida=valor_total_divida))
print('depois = {valor_parcela}'.format(valor_parcela=valor_parcela))
print('-----')

print('antes = {total_divida}'.format(total_divida=valor_total_divida))
print('depois = {depois_do_pagamento}'.format(depois_do_pagamento=depois_do_pagamento))
print('-----')

300
50
antes = 300
depois = 50
-----
antes = 300
depois = 250
-----

In [ ]:
def ler_valor_total():
  valor_total_divida = int(input())
  return valor_total_divida


def ler_valor_pagavel():
  valor_q_sera_pago = int(input())
  return valor_q_sera_pago

def calcular_divida_restante(valor_total_divida, valor_parcela):
  count = 0
  while valor_total_divida != 0:
    count = count+1
    if valor_total_divida < valor_parcela:
      valor_pago = 0
      print(f'pagamento: {count}')
      print(f'antes = {valor_total_divida}')
      print(f'depois = {valor_pago}'.format(valor_pago))
      print('-----')
      break
    else:
      valor_total_divida = valor_total_divida - valor_parcela
      valor_anterior = valor_total_divida + valor_parcela
      print(f'pagamento: {count}')
      print(f'antes = {valor_anterior}')
      print(f'depois = {valor_total_divida}'.format(valor_total_divida))
      print('-----')
    

valor_total = ler_valor_total()
valor_parcela = ler_valor_pagavel()
calcular_divida_restante(valor_total, valor_parcela)

10
5
pagamento: 1
antes = 10
depois = 5
-----
pagamento: 2
antes = 5
depois = 0
-----

# URI Online Judge | 1168
# Intervalo de primos!

In [ ]:
n = int(input("Digite o valor de n (n > 0): "))

# n é primo até que se prove o contrário
é_primo = True

# procure por um divisor de n entre 2 e n-1
divisor = 2
while divisor < n and é_primo: # equivalente a "div... and é_primo == True:"
    if n % divisor == 0:
        é_primo = False
    divisor += 1


if é_primo and n != 1: # 1 não é primo
    print(n, "é primo")
else:
    print(n, "não é primo")

Digite o valor de n (n > 0): 10
10 não é primo

In [ ]:
def primo(n):
    qtd_div = 0
    for div in range(1, n+1):
        if n % div == 0:
            qtd_div += 1
    if qtd_div == 2:
        return True
    else:
        return False

inicio = int(input())
fim = int(input())
qtd_primos = 0
for n in range(inicio, fim+1):
    if primo(n):
        qtd_primos += 1
        print(n)
print(f'primos: {qtd_primos}')

1
10
2
3
5
7
primos: 4

In [ ]:
def programa():
  limite_inferior = int(input())
  limite_superior = int(input())
  count = []
  while limite_inferior <= limite_superior:
    if eh_primo(limite_inferior):
      print(limite_inferior)
      count.append(limite_inferior)
    limite_inferior = limite_inferior + 1
  total = len(count)
  print('primos: {}'.format(total))    


def eh_primo(numero):
  inicio = 1
  contar_divisores = 0
  while inicio <= numero:
    if numero % inicio == 0:
      contar_divisores = contar_divisores + 1
    inicio = inicio + 1
  if contar_divisores != 2:
    return False
  else:
    return True

programa()

In [ ]:
lista = list(range(100))
print

10
20
range(10, 20)

In [ ]:
lista = [1, 3, 5, 7, 8, 9]
8 in lista

True

# URI Online Judge | 1269

In [ ]:
lista_de_compra = int(input())
lista_de_compra = list(lista_de_compra)
print(lista_de_compra)

1

TypeError: ignored

# URI Online Judge | 1270

In [37]:
primeiro = int(input())
segundo = int(input())


if primeiro <= segundo:
  intervalo = list(range(primeiro, segundo+1))
  for numero in intervalo:
    aux = 1 
    if numero <= intervalo[-1]:
      while(aux <= 10):  
        print('{0} x {1} = {2}'.format(numero, aux, (aux * numero)))  
        aux = aux + 1
      print("-" * 10)
else:
  print("Nenhuma tabuada no intervalo!")

1
3
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------

# URI Online Judge | 1283
# Corra Forrest!

In [ ]:
numero = int(input())
lista = list()
while numero > 0:
  lista.append(numero)
  numero = int(input())
  qtdd = len(lista)
  soma= sum(lista)
  media = float(soma/qtdd)
print(f"MEDIA: {media:.2f}")
for numero in lista:
  if numero < media:
    print(numero)

2500
2500
2500
2500
2500
-1
[2500, 2500, 2500, 2500, 2500]
MEDIA: 2500.00

774
141
182
493
198
851
189
708
581
-94

# URI Online Judge | 1284
# Segunda chance

---

In [ ]:
numero = int(input())
intervalo = range(1,numero+1)
lista_de_notas = {}
for i in intervalo:
  print(i,"i")
  nota_original = float(input())
  nota_original_format = "%.2f" %nota_original
  lista_de_notas[i] = nota_original_format
  print(lista_de_notas)
for i in intervalo:
  segunda_chance = float(input())
  segunda_chance_format = "%.2f" %segunda_chance
  lista_de_notas[i] = segunda_chance_format
  print(lista_de_notas,"passei")

2
1 i
3
{1: '3.00'}
2 i
4
{1: '3.00', 2: '4.00'}
5
{1: '5.00', 2: '4.00'} passei
6
{1: '5.00', 2: '6.00'} passei

In [ ]:
numero = int(input())
nota_original = []
segunda_change = []

for i in range(numero):
  nota_original.append(float(input()))

for i in range(numero):
  segunda_change.append(float(input()))

nota_final = []
nota_alterada = 0

for i in range(numero):
  n_original = nota_original[i]
  s_change = segunda_change[i]
  nf = n_original

  if (s_change ==10):
    nf += 2

  if (nf > 10):
    nf = 10

  if nf != n_original:
    nota_alterada +=1

  nota_final.append([n_original, nf])

print(f'NOTAS ALTERADAS: {nota_alterada}')

for i, nota in enumerate(nota_final):
  alt = '-'
  if (nota[0] != nota[1]):
    alt = '*'
  print(f'{alt}({(i+1):03d}) original: {nota[0]:05.2f} | final: {nota[1]:05.2f}')


print('NOTAS ALTERADAS: 0')
print('-(001) original: 10.00 | final: 10.00')

5
7.00
6.00
10.00
1.00
9.00
10.00
10.00
10.00
10.00
10.00
NOTAS ALTERADAS:4
*(001) original: 07.00 | final: 09.00
*(002) original: 06.00 | final: 08.00
-(003) original: 10.00 | final: 10.00
*(004) original: 01.00 | final: 03.00
*(005) original: 09.00 | final: 10.00
NOTAS ALTERADAS: 0
-(001) original: 10.00 | final: 10.00

# URI Online Judge | 1269
# Carrinho de compras

In [ ]:
lista_de_produtos = []
tamanho_vetor = 0
def remover_produto(produto):
  if produto in lista_de_produtos:
    indice = lista_de_produtos.index(produto)
    del(lista_de_produtos[indice])
  else:
    print(f'código {produto} não encontrado')

def adicionar_produto(produto):
  lista_de_produtos.append(produto)

def exibir_lista(lista):
  numeros_ordenados = sorted(lista)
  lista = ' '.join([str(item) for item in numeros_ordenados])
  print(lista)

def primeira_leitura():
  entrada_inicial = input().split()
  if entrada_inicial != []:
    entrada_inicial = list(map(int,entrada_inicial))
    tamanho_vetor = len(entrada_inicial)
    for i in range(tamanho_vetor):
      lista_de_produtos.append(entrada_inicial[i])

primeira_leitura()

while True:
  comando = input()
  if comando == 'exibir':
    exibir_lista(lista_de_produtos)
  elif comando.split(" ")[0] == "adicionar":
    produto_adicionado = int(comando.split(" ")[1])
    adicionar_produto(produto_adicionado)
  elif comando.split(" ")[0] == "remover":
    produto_removido = int(comando.split(" ")[1])
    remover_produto(produto_removido)
  else:
    exibir_lista(lista_de_produtos)
    break

1 25 36
exibir
1 25 36
encerrar
1 25 36

# URI Online Judge | 1282
# ImpacTube

In [ ]:
# def preenche_tabela(qtdd_canais):
#   if qtdd_canais >= 1 and qtdd_canais <=200:
#     tabela_de_canais = []
#     for i in range(qtdd_canais):
#       print(f'{i + 1}o dado:', end=' ')
#       print(tabela_de_canais, "tabela")
#       canal = coleta_dados_dos_canais()
#       tabela_de_canais.append(canal)
#     return tabela_de_canais

# def coleta_dados_dos_canais():
#   canal = input().split()
#   for i in range(len(canal)):
#     print(canal, "canal")
#     print(i, "i")
#   return canal

# qtdd_canais = int(input())
# turma = preenche_tabela(qtdd_canais)
# print(turma)

In [ ]:
def verificar_bonus():  
  loops = int(input())

  canais = []

  for i in range(loops):
      canais.append(input().split(';'))
      
  bonus_premium = float(input())
  bonus_normal = float(input())

  print('-----')
  print('BÔNUS')
  print('-----')

  for canal in canais:
      bonus = 0
      if (canal[3] == 'sim'):
          bonus = bonus_premium
      else:
          bonus = bonus_normal
      
      value = ((float(canal[1])//1000)*bonus) + float(canal[2])
      
      print(f'{canal[0]}: R$ {value:.2f}')


verificar_bonus()

1
Joãozinho TôComeçando;950;10.00;não
1.00
0.50
-----
BÔNUS
-----
Joãozinho TôComeçando: R$ 10.00

In [ ]:
def coleta_notas():
  notas = input().split()
  for i in range(len(notas)):
    notas[i] = float(notas[i])
  return notas

def preenche_turma(qtd_alunos):
  turma = []
  for i in range(qtd_alunos):
    print(f'{i + 1}o aluno:', end=' ')
    aluno = coleta_notas()
    turma.append(aluno)
  return turma

def calcula_media(aluno):
  soma = 0
  for nota in aluno:
    soma += nota
  return soma / len(aluno)

def resumo_turma(turma):
  for aluno in turma:
    media = calcula_media(aluno)
    print(f'notas: {aluno} | média: {media:5.2f}')

qtd_alunos = int(input('Quantidade: '))
turma = preenche_turma(qtd_alunos)
resumo_turma(turma)

Quantidade: 2
1o aluno: 6.3 6.3 6.3
2o aluno: 5.5 5.5 5.5

In [ ]:
dados = input()
# entrada: Historia sem Fim;2100000;400.98;não
sub = dados.split(";")
print(sub)
print(list(sub))

Historia sem Fim;2100000;400.98;não
['Historia sem Fim', '2100000', '400.98', 'não']
['Historia sem Fim', '2100000', '400.98', 'não']

In [ ]:
dados = input()
dados_na_lista = []
dados_cru =

# URI Online Judge | 1073
# Quadrado de Pares

In [ ]:
numero = int(input())
if numero < 2000 and numero > 5:
  intervalo =  list(range(2,numero+1))
  for e_par in intervalo:
    aux = 1
    if e_par % 2 ==0:
      mult = e_par * e_par
      dois = 2
      print(f'{e_par}^{dois} = {mult}')

6
2^2 = 4
4^2 = 16
6^2 = 36

# URI Online Judge | 1154
# Idades

In [ ]:
idade = int(input())
idades = []
while idade > 0:
  idades.append(idade)
  idade = int(input())

media_de_idades = sum(idades)/len(idades)
print(f'{media_de_idades:.2f}')

10
20
30
40
-1
25.00

URI Online Judge | 1153
Fatorial Simples

Ler um valor N. Calcular e escrever seu respectivo fatorial. Fatorial de N = N * (N-1) * (N-2) * (N-3) * ... * 1.

Entrada
A entrada contém um valor inteiro N (0 < N < 13).

Saída
A saída contém um valor inteiro, correspondente ao fatorial de N.

In [30]:
from math import factorial

number = int(input())

if number > 0 and number <13:
  fact = factorial(number)
  print(fact)

4
24

# URI Online Judge | 1080
# Maior e Posição

Leia 100 valores inteiros. Apresente então o maior valor lido e a posição dentre os 100 valores lidos.

Entrada
O arquivo de entrada contém 100 números inteiros, positivos e distintos.

Saída
Apresente o maior valor lido e a posição de entrada, conforme exemplo abaixo.

In [78]:
num_list = []
higher_number = 0

for pos in range(5):
  number = int(input())
  if number not in num_list and number >0:
    num_list.append(number)
    higher_number = max(num_list)
    idx = num_list.index(higher_number)

print(higher_number)
print(idx)

1
3258964712
214
698
2
3258964712
1